<!-- <div id="map"></div> -->
<div class="row">
    <div class="col-md-12">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-2">
                                <mat-radio-button value="1">TM</mat-radio-button>
                            </div>
                            <div class="col-md-2">
                                <mat-radio-button value="2"> CTC</mat-radio-button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Client" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Process Name" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-radio-button value="1">Transaction Date</mat-radio-button>
                            </div>
                            <div class="col-md-3">
                                <mat-radio-button value="2"> Monitoring Date</mat-radio-button>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Sub Process" type="email" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="TM Name" type="text" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="From Date" type="date" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="To Date" type="date" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Agent Name" type="text" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Auditor Name" type="text" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Monitor Type" type="text" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Roll up" type="text" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                              <div class="col-sm-4" style="display: flex;justify-content: space-around;">
                                <button mat-raised-button type="submit" class="btn btn-success pull-right" >Save</button>
                                <div class="clearfix"></div>
                                <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="close()">Cancel</button>
                                <div class="clearfix"></div>
                                <!-- <div class="clearfix"></div> -->
                            <!-- <div class="clearfix"></div> -->
            
                          </div>
                    <!-- </div> -->
                    <!-- </div> -->
                    <!-- </div> -->